.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.label {
  color: #253017;
  font-size: 16px;
  line-height: 1.5;
}

.fieldContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  padding: 12px 20px;
  color: #253017;
  font-size: 16px;
  line-height: 1.5;
  background: white;
  border: 1px solid #69735d;
  border-radius: 12px;
  outline: none;
}

.input:focus {
  border-color: #508826;
}

.valueDisplay {
  width: 100%;
  padding: 12px 20px;
  color: #253017;
  font-size: 16px;
  line-height: 1.5;
  white-space: pre-line;
  background: white;
  border: 1px solid #69735d;
  border-radius: 12px;
}

.editButton {
  position: absolute;
  right: 12px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.editButton:hover {
  opacity: 0.8;
}

.textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 96px;
  padding: 12px 20px;
  color: #253017;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background: white;
  border: 1px solid #69735d;
  border-radius: 12px;
  outline: none;
  resize: none;
}

.textarea:focus {
  border-color: #508826;
}

.fieldContainerMultiline {
  align-items: flex-start;
}
