.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 128px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.image {
    width: 300px;
    height: 300px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 40px 60px 132px 60px;
    color: #253017;
}

.title, 
.description {
    margin: 0;
}

.title {
    letter-spacing: -1.1%;
    font-family: 'Jost', sans-serif;
}

.description {
    letter-spacing: 2%;
    text-wrap: wrap;
    white-space: pre-line;
}