.radioContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.radioInput {
  position: relative;
  width: 16px;
  height: 16px;
  border: 2px solid #253017;
  border-radius: 50%;
  cursor: pointer;
  appearance: none;
}

.radioInput:checked {
  border-color: #508826;
}

.radioInput:checked::before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 8px;
  height: 8px;
  background-color: #508826;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.radioLabel {
  color: #253017;
  font-size: 16px;
  font-family: 'Jost', 'Futura', 'Arial', sans-serif;
}
