.container {
  display: flex;
  align-items: center;
  width: 260px;
}

.avatar {
  margin-right: 12px;
}

.textInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  color: #253017;
  font-size: 20px;
  font-family: 'Open sans', 'Helvetica Neue', 'Arial', sans-serif;
  line-height: 24px;
}

.description {
  color: #253017;
  font-size: 12px;
  font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
  line-height: 16px;
}
