.container {
  width: 260px;
  display: flex;
  align-items: center;
}

.avatar {
  margin-right: 12px;
}

.textInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.011em;
  color: #253017;
}

.description {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2%;
  color: #253017;
}
