.wrapper {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.label {
  margin-bottom: 4px;
  color: #253017;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
}

.inputWrapper {
  display: flex;
  align-items: center;
  width: 168px;
  padding: 12px 20px;
  background: #ffffff;
  border: 1px solid #69735d;
  border-radius: 8px;
  cursor: pointer;
}

.inputWrapper.disabled {
  background: #f0f0f0;
  cursor: not-allowed;
  opacity: 0.7;
}

.input {
  flex-grow: 1;
  max-width: 140px;
  color: #253017;
  font-size: 16px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.input::placeholder {
  color: #69735d;
}

.icon {
  width: 20px;
  height: 20px;
  margin-left: 9px;
  cursor: pointer;
}

.calendarPopup {
  position: relative;
  top: 100%;
  left: 0;
  z-index: 10;
  width: 220px;
  margin-top: 8px;
  padding: 24px 28px 16px;
  background: #ffffff;
  border: 1px solid #69735d;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
}

.calendarHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 16px;
  font-weight: bold;
}

.monthSelect,
.yearSelect {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.monthName,
.yearNumber {
  color: #253017;
  font-size: 16px;
}

.arrowIcon {
  width: 16px;
  height: 16px;
}

.pickerDropdown,
.pickerDropdown_open,
.pickerDropdown_closed {
  position: absolute;
  top: 42%;
  left: 50%;
  z-index: 11;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 220px;
  height: 190px;
  padding: 8px;
  overflow-y: auto;
  background: #ffffff;
  border: 1px solid #69735d;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  visibility: hidden;
  transform: translate(-50%, -60%);
  opacity: 0;
  transition:
    opacity 0.1s,
    visibility 0.1s,
    transform 0.1s;
}

.pickerDropdown_open {
  visibility: visible;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.pickerDropdown_closed {
  visibility: hidden;
  transform: translate(-50%, -60%);
  opacity: 0;
}

.pickerItem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
  color: #253017;
  font-size: 12px;
  border-radius: 12px;
  cursor: pointer;
}

.pickerItem:hover {
  background: #f0f0f0;
}

.pickerItem.selectedPickerItem {
  color: #253017;
  font-weight: bold;
  background: #abd27a;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 8px;
  color: #508826;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.daysGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  color: #253017;
  font-size: 12px;
  border-radius: 50%;
  cursor: pointer;
}

.day:hover {
  background: #f0f0f0;
}

.day.emptyDay {
  color: #9ca197;
  background: transparent;
  cursor: default;
}

.day.selected {
  color: #253017;
  background: #abd27a;
}

.day.today {
  border: 1px solid #abd27a;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.input:focus {
  caret-color: #508826;
}
