.wrapper {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
  }
  
  .label {
    font-weight: 400;
    font-size: 16px;
    color: #253017;
    text-align: left;
    margin-bottom: 4px;
  }
  
  .inputWrapper {
    display: flex;
    align-items: center;
    border: 1px solid #69735D;
    border-radius: 8px;
    padding: 12px 20px;
    background: #fff;
    cursor: pointer;
    width: 168px;
  }
  
  .inputWrapper.disabled {
    background: #f0f0f0;
    cursor: not-allowed;
    opacity: 0.7;
  }
  
  .input {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 16px;
    color: #253017;
    cursor: pointer;
    background: transparent;
    max-width: 140px;
  }
  
  .input::placeholder {
    color: #69735D;
  }
  
  .icon {
    width: 20px;
    height: 20px;
    margin-left: 9px;
    cursor: pointer;
  }
  
  .calendarPopup {
    position: relative;
    top: 100%;
    left: 0;
    z-index: 10;
    background: #fff;
    border: 1px solid #69735D;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 24px 28px 16px;
    margin-top: 8px;
    width: 220px;
  }
  
  .calendarHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    font-weight: bold;
    gap: 20px;
  }
  
  .monthSelect,
  .yearSelect {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 4px;
  }
  
  .monthName,
  .yearNumber {
    font-size: 16px;
    color: #253017;
  }
  
  .arrowIcon {
    width: 16px;
    height: 16px;
  }
  
  .pickerDropdown,
  .pickerDropdown_open,
  .pickerDropdown_closed {
    position: absolute;
    top: 42%;
    left: 50%;
    width: 220px;
    height: 190px;
    background: #fff;
    border: 1px solid #69735D;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow-y: auto;
    z-index: 11;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 8px;
    transition: opacity 0.1s, visibility 0.1s, transform 0.1s;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -60%);
  }
  
  .pickerDropdown_open {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%);
  }
  
  .pickerDropdown_closed {
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -60%);
  }
  
  .pickerItem {
    padding: 6px 10px;
    cursor: pointer;
    font-size: 12px;
    color: #253017;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
  }
  
  .pickerItem:hover {
    background: #f0f0f0;
  }
  
  .pickerItem.selectedPickerItem {
    background: #ABD27A;
    color: #253017;
    font-weight: bold;
  }
  
  .weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: bold;
    color: #508826;
  }
  
  .daysGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  
  .day {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 12px;
    color: #253017;
  }
  
  .day:hover {
    background: #f0f0f0;
  }
  
  .day.emptyDay {
    color: #9CA197;
    cursor: default;
    background: transparent;
  }
  
  .day.selected {
    background: #ABD27A;
    color: #253017;
  }
  
  .day.today {
    border: 1px solid #ABD27A;
  }
  
  .actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
  }
  
  .input:focus {
    caret-color: #508826;
  }
  