.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 48px;
  font-family: 'Roboto', sans-serif;
}

.label {
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 24px;
  color: #253017;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #69735d;
  border-radius: 12px;
  padding: 12px 20px;
  background-color: white;
  gap: 10px;
  height: 48px;
}

.input {
  flex: 1;
  border: none;
  outline: none;
  color: #253017;
  background-color: transparent;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  caret-color: #508826;
}

.input::placeholder {
  color: #69735d;
}

.input:focus::placeholder {
  color: transparent;
}

.iconLeft {
  display: flex;
  align-items: center;
}

.eyeButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.hintText {
  margin-top: 4px;
  font-size: 12px;
  color: #253017;
}

.error {
  border-color: #e03232;
}

.errorText {
  font-size: 12px;
  line-height: 16px;
  color: #bf3920;
  margin-top: 4px;
}
