.avatar {
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.small {
  width: 48px;
  height: 48px;
}

.medium {
  width: 100px;
  height: 100px;
}

.large {
  width: 244px;
  height: 244px;
}
