@font-face {
  font-family: 'Jost';
  src: url('./font-files/Jost/Jost-VariableFont_wght.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Open sans';
  src: url('./font-files/Open_Sans/OpenSans-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Roboto';
  src: url('./font-files/Roboto/Roboto-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 400;
}
