.section-header {
  color: #253017;
  font-family: 'Jost', sans-serif;
  font-weight: 500;
  letter-spacing: -1.1%;
  margin: 0;
}

.section-header--h2 {
  font-size: 32px;
  line-height: 40px;
}

.section-header--h3 {
  font-size: 24px;
  line-height: 32px;
}

.section-header--h4 {
  font-size: 20px;
  line-height: 24px;
}

.section-header--h5 {
  font-family: 'Open sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.section-header--h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  font-weight: 500;
}
