.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  margin-bottom: 12px;
  color: #253017;
  font-size: 24px;
  font-family: 'Jost', 'Futura', 'Arial', sans-serif;
  line-height: 28px;
  letter-spacing: -0.011em;
  text-align: center;
}

.steps {
  display: flex;
  gap: 16px;
}

.step {
  width: 60px;
  height: 4px;
  background-color: #e4e8df;
  border-radius: 8px;
}

.active {
  background-color: #abd27a;
}

.inactive {
  background-color: #e4e8df;
}
