.modalOverlay {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #8e8e8e33;
  backdrop-filter: blur(8px);
}

.modalWindow {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 1024px;
  min-height: 532px;
  padding: 44px 55px;
  background: #ffffff;
  border-radius: 12px;
}

.modalSubtext {
  margin: 0;
  margin-top: 8px;
  margin-bottom: 32px;
  font-size: 12px;
  font-family: 'Roboto', 'Arial', sans-serif;
}

.modalContent {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 100%;
}

.modalLeft,
.modalRight {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 425px;
}

.modalSubcategories {
  margin-bottom: 20px;
  color: #69735d;
  font-size: 12px;
  font-family: 'Roboto', 'Arial', sans-serif;
}

.modalDescription {
  margin-bottom: 32px;
  color: #253017;
  font-size: 16px;
  font-family: 'Roboto', 'Arial', sans-serif;
}

.modalButtons {
  display: flex;
  align-self: flex-start;
  gap: 24px;
  margin-top: auto;
}

.modalImages {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
}

.imagesGrid {
  display: grid;
  grid-template-rows: 324px;
  grid-template-columns: 324px 92px;
  justify-content: start;
  align-items: start;
  gap: 0 24px;
}

.mainImage {
  grid-row: 1;
  grid-column: 1;
  width: 324px;
  height: 324px;
  border-radius: 16px;
  object-fit: cover;
}

.thumbsColumn {
  display: flex;
  grid-row: 1;
  grid-column: 2;
  flex-direction: column;
  gap: 24px;
}

.thumbWrapper {
  position: relative;
  width: 92px;
  height: 92px;
}

.thumb {
  display: block;
  width: 92px;
  height: 92px;
  border-radius: 12px;
  object-fit: cover;
}

.thumbOverlay {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #253017;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Inter', 'Arial', sans-serif;
  background: #ffffff80;
  border-radius: 12px;
}

.thumb.more {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #69735d;
  font-weight: bold;
  font-size: 18px;
  background: #f5f5f5;
}
