.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 36px 20px 36px;
  background-color: #fff;
  font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 16px;
}

.left,
.right {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.center {
  margin: 0 32px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

.nav {
  margin-left: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.navLink {
  color: #253017;
  text-decoration: none;
}

.dropdown {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.arrowDown {
  margin-left: 4px;
}

.searchBar {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #fff;
  padding: 8px 12px;
  border-radius: 8px;
}

.searchInput {
  border: none;
  margin-left: 8px;
  outline: none;
  background: transparent;
  width: 100%;
}

.userName {
  margin: 0 8px;
  cursor: pointer;
}

.icon {
  margin: 0 4px;
  cursor: pointer;
}

.themeIcon {
  margin-right: 12px;
  cursor: pointer;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-right: 12px;
}

.userInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.rightButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.moon {
  margin-right: 32px;
}
