.badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 32px;
  padding: 8px 12px;
  background-color: #E8ECF7;
  border-radius: 20px;
}

.badgeClickable {
  cursor: pointer;
}

.badgeText {
  color: #253017;
  font-weight: 400;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.33;
  letter-spacing: 0.02em;
}