.checkbox_label {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 24px;
  color: #253017;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Roboto', 'Arial', sans-serif;
  line-height: 24px;
  vertical-align: middle;
  cursor: pointer;
}

.checkbox_input {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 2px;
  background-image: url('./checkbox-empty.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  transition: 500ms;
  appearance: none;
}

.checkbox_input:checked {
  background-image: none;
}

.checkbox_input:checked::after {
  position: absolute;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: 500ms;
  content: '';
}

.checkbox_subcategory:checked::after {
  background-image: url('./checkbox-done.svg');
}

.checkbox_category:checked::after {
  background-image: url('./checkbox-remove.svg');
}

.chevron {
  width: 24px;
  height: 24px;
}

.checkbox_span_text {
  display: inline-block;
  width: 220px;
}
