.checkbox_label {
  display: flex;
  align-items: center;
  gap: 8px;
  height:24px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  vertical-align: middle;
  color: #253017;
  cursor: pointer;
}

.checkbox_input{
  margin: 2px;
  appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  background-image: url("./checkbox-empty.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: 500ms;
  cursor: pointer;
}

.checkbox_input:checked{
    background-image: none;
}

.checkbox_input:checked::after {
 content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  transition: 500ms;
  cursor: pointer;
}

.checkbox_subcategory:checked::after {
  background-image: url("./checkbox-done.svg");
}

.checkbox_category:checked::after {
  background-image: url("./checkbox-remove.svg");
}

.chevron {
    width: 24px;
    height: 24px;
}

.checkbox_span_text{
  display: inline-block;
  width: 220px;
}
